@model CollegeManagementProject.Models.Absence

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<center>
    <h2 style="color:coral">Etes-vous sûr de supprimer l'absence n°: @Html.DisplayFor(model => model.AbsenceId) ?</h2>
</center>

<div>

    <hr />
    <dl class="dl-horizontal0" style="text-align:center">
        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAbsence)
        </dd>


        <dt>
            Code élève
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtudiantID)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br>

        <div class="form-actions no-color" style="text-align:center">
            <input type="submit" value="Delete" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="color:black" href="@Url.Action("Index", new { id = Model.AbsenceId })">
                <i class="glyphicon glyphicon-arrow-left"></i>

        </div>
    }
</div>
