@model IPagedList<CollegeManagementProject.Models.Enseignant>
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Enseignants</h2>

                        <p>
                            veuillez trouver ci dessous la <br>
                            liste de nos enseignants

                        </p>

                        <div class="page_link">
                            <a>
                                @Html.ActionLink("Acceuil", "Index", "Home")
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<p class="body">
    <a style="color:black">
        <i class="glyphicon glyphicon-plus"></i> &nbsp;&nbsp;
        @Html.ActionLink("Ajouter un nouveau enseignant", "Add")


</p><br>
<center>
    <div class="spacer">
        <div class="panel panel-primary">
            <div class="panel-heading">Liste des enseignants</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th style="color:brown">
                            Code enseignant
                        </th>
                        <th style="color:brown">
                            Nom
                        </th>
                        <th style="color:brown">
                            Prénom
                        </th>
                     
                        <th style="color:brown">
                            Email
                        </th>


                        <th style="color:brown">
                            Tel
                        </th>


                        <th style="color:brown">
                            Cours
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="color:black">
                                @Html.DisplayFor(modelItem => item.EnseignantId)
                            </td>
                            <td style="color:black">
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>

                            <td style="color:black">
                                @Html.DisplayFor(modelItem => item.Prenom)
                            </td>
                            
                            <td style="color:black">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td style="color:black">
                                @Html.DisplayFor(modelItem => item.Tel)
                            </td>

                            <td style="color:black">
                                @Html.DisplayFor(modelItem => item.MatiereId)
                            </td>

                            <td>
                                <a style="color:black" href="@Url.Action("Update", new { id = item.EnseignantId })">
                                    <i class="glyphicon glyphicon-edit"></i> |
                                    <a style="color:black" href="@Url.Action("Details", new { id = item.EnseignantId })">
                                        <i class="glyphicon glyphicon-list-alt"></i> |
                                        <a style="color:black" href="@Url.Action("Delete", new { id = item.EnseignantId })">
                                            <i class="glyphicon glyphicon-trash"></i>
                        </tr>
                    }

                </table>
                <div>
                    @Html.PagedListPager(Model, i => Url.Action("Index", "Enseignants", new { i, search = Request.QueryString["search"] }))

                </div>

            </div>
        </div>
    </div>
</center>